
<div class="page-sidebar-wrapper scrollbar-dynamic" id="main-menu-wrapper">
  <!-- BEGIN SIDEBAR MENU -->
  <ul>
    <li class="start ">
      <a href="/production-center">
        <i class="material-icons">home</i><span class="title">Centros de produção</span><span class="selected"></span> <span class="arrow "></span></a>
      <ul class="sub-menu">
        <li><a href="/production-center">Listar centros</a></li>
        <li><a href="/production-center/new">Cadastrar novo Centro</a></li>
      </ul>
    </li>
    <li>
      <a href="/product"><i class="material-icons">panorama_horizontal</i> <span class="title">Produtos</span> <span class="arrow"></span></a>
      <ul class="sub-menu">
        <li> <a href="/product">Listar produtos</a> </li>
        <li> <a href="/product/new">Cadastrar produto</a> </li>
      </ul>
    </li>
    <li>
      <a href="/delivery-method"> <i class="material-icons">location_on</i> <span class="title">Métodos de entrega</span> <span class="arrow"></span></a>
      <ul class="sub-menu">
        <li> <a href="/delivery-method">Listar métodos</a> </li>
        <li> <a href="/delivery-method/new">Cadastrar método</a> </li>
      </ul>
    </li>
  </ul>
  <div class="clearfix"></div>
  <!-- END SIDEBAR MENU -->
</div>
