<% include partials/head %>
<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse ">
<% include partials/menu %>
</div>


<!-- BEGIN CONTAINER -->
<div class="page-container row-fluid">
  
  <!-- BEGIN SIDEBAR -->
  <div class="page-sidebar " id="main-menu">
    <% include partials/left-menu %>
  </div>
  <!-- END SIDEBAR -->

  <!-- BEGIN PAGE CONTAINER-->
  <div class="page-content">
    <div class="content">
      <div class="page-title">
        <h3>Bem vindo ao sistema para gestão de abrangência <span class="semi-bold">Shipping Coverage</span></h3>
      </div>

    </div>
  </div>
</div>
<!-- END CONTAINER -->
<% include partials/footer %>